.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 360px;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  padding: 40px 40px 10px;
  border-radius: 10px;
}

.login-page-form h2 {
  text-align: center;
}

.login-page-form h2 button {
  text-align: center;
  width: 100%;
}

.spacer {
  margin-left: 16px;
}

.logo {
  width: 80px;
  height: 80px;
}
